<div class="store-filter clearfix">
    <!-- Pull left fot sorting Logic products  -->
    <div class="pull-left">
        <div class="row-filter">
            <a href="#"><i class="fa fa-th-large"></i></a>
            <a href="#" class="active"><i class="fa fa-bars"></i></a>
        </div>
        <div class="sort-filter">
            <span class="text-uppercase">Sort By:</span>
            <select class="input">
                <option value="0">Position</option>
                <option value="0">Price</option>
                <option value="0">Rating</option>
            </select>
            <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
        </div>
    </div>
    <!-- Pull Right for Pagination Logic  -->

    <div class="pull-right">

        <div class="page-filter">
            <% if (total < 10) { %>
            <% } else { %>
            <span class="text-uppercase">Show:</span>
            <select class="input" id="show" onchange=" document.location.href = '/page=1-limit=' + this.value">

                <% if (limit == 10){ %>
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <% }else if (limit ==20){ %>
                <option value="10">10</option>
                <option value="20" selected>20</option>
                <option value="30">30</option>
                <%} else if (limit ==30) {%>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30" selected>30</option>
                <% } else { %>
                <option>10</option>
                <%  } %>
                <% } %>
            </select>
        </div>

        <ul class="store-pages">
            <% if (pages > 0) { %>
            <ul>
                <li><span class="text-uppercase">Page: </span></li>
                <% if (page == 1) { %>
                    <li class="disabled"><a>First</a></li>
                <% } else { %>
                    <li><a href="/page=<%=1%>-limit=<%=limit%>">First</a></li>
                <% } %>
                <% var i = (Number(page) > 3 ? Number(page) - 1 : 1) %>
                <% if (i !== 1) { %>
                    <!-- <li><a href="#"><i class="fa fa-caret-left"></i></a></li> -->
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% for (; i <= (Number(page) + 1) && i <= pages; i++) { %>
                <% if (i == page) { %>
                    <li class="active"><a><%= i %></a></li>
                <% } else { %>
                    <li><a href="/page=<%=i%>-limit=<%=limit%>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(page) + 1 && i < pages) { %>
                    <!-- <li><a href="#"><i class="fa fa-caret-right"></i></a></li> -->
                    <li class="disabled"><a>...</a></li>
                <% } %>
                <% } %>
                <% if (page == pages) { %>
                    <li class="disabled"><a>Last</a></li>
                <% } else { %>
                    <li><a href="/page=<%=pages%>-limit=<%=limit%>">Last</a></li>
                <% } %>
            </ul>
            <% } %>
            <!-- small arrrow -->
            <!--<li><a href="#"><i class="fa fa-caret-right"></i></a></li>-->
        </ul>
    </div>
</div>