
    <%- include('../includes/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../includes/header.ejs') %>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <!-- NAVIGATION -->

    <!-- BREADCRUMB -->
    <!-- BREADCRUMB -->


	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">

                <%- include('../includes/store.ejs') %>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
    <!-- /section -->
    
    <!-- FOOTER -->
    <%- include('../includes/footer.ejs') %>
    <!-- FOOTER -->

    <!-- jQuery Plugins -->
    <%- include('../includes/end.ejs') %>


</body>

</html>
