<%- include('../includes/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../includes/header.ejs',cartProducts) %>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <%- include('../includes/nav.ejs') %>
    <!-- NAVIGATION -->

	<!-- Declearing Ejs Variables >>>>> -->
	<% let total= 0  %>
	<% let subTotal = 0  %>

	<!-- BREADCRUMB -->
	<div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Checkout</li>
			</ul>
		</div>
	</div>
	<!-- /BREADCRUMB -->

	<!-- section -->
	<div class="section">
		<!-- container -->
		<div class="container">
			<!-- row -->
			<div class="row">
				<form id="checkout-form" class="clearfix">

					<div class="col-md-12">
						<div class="order-summary clearfix">
							<div class="section-title">
								<h3 class="title">My Cart</h3>
							</div>
							
							<table id="tbl" class="shopping-cart-table table">
								<thead>
									<tr>
										<th>Product</th>
										<th></th>
										<th class="text-center">Price</th>
										<th class="text-center">Quantity</th>
										<th class="text-center">Total</th>
										<th class="text-right"></th>
									</tr>
								</thead>
								<tbody>
									<!--  -->
									
									<!-- dynamic items -->
                                    <% for (let item of cartProducts) { %>
									<tr id ="<%= item.productId._id %>">
										<td class="thumb"><img src="<%= item.productId.imageUrl %>" alt=""></td>
										<td class="details">
											<a href="#">Product Name Goes Here</a>
											<ul>
												<li><span>Size: XL</span></li>
												<li><span>Color: Camelot</span></li>
											</ul>
										</td>
										<!-- onChangeItemQty(this); -->
										<td class="price text-center"><strong>$<%= item.productId.price %></strong><br><del class="font-weak"><small>$40.00</small></del></td>
										<td class="qty text-center"><input name="itemQty" class="input" type="number" value="<%= item.qty %>" onclick="$('#cover-spin').show(0); onChangeItemQty(this);"></td>
										<!-- my loading spinner -->
										<div id="cover-spin"></div>  
										<!-- my loading spinner -->
										<% total = (item.productId.price * item.qty) %>
										<% subTotal += total %>
										<td class="total text-center"><strong class="primary-color">$ <%= total %></strong></td>
										<td class="text-right"><button type="button" class="main-btn icon-btn" onclick="$('#cover-spin').show(0); deleteFromCart(this); ">
										<input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <input type="hidden" name="productId" value="<%= item.productId._id %>" >
											<i class="fa fa-close"></i></button></td>
                                    </tr>
                                    <% } %>
                                    <!--  -->
								</tbody>
								<tfoot>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SUBTOTAL</th>
										<th colspan="2" class="sub-total">$ <%= parseFloat(subTotal).toFixed(2) %></th>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>SHIPING</th>
										<td colspan="2">Free Shipping</td>
									</tr>
									<tr>
										<th class="empty" colspan="3"></th>
										<th>TOTAL</th>
										<th colspan="2" class="total">$ <%= parseFloat(subTotal).toFixed(2) %></th>
									</tr>
								</tfoot>
							</table>
							<div class="pull-right">
								<button class="primary-btn">Place Order</button>
							</div>
						</div>

					</div>
				</form>
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</div>
	<!-- /section -->



    <!-- FOOTER -->
    <%- include('../includes/footer.ejs') %>
    <!-- FOOTER -->

    <!-- jQuery Plugins -->
	<%- include('../includes/end.ejs') %>
	
	<script src="/js/our.script.js"></script>
   

</body>

</html>