<%- include('../includes/head.ejs') %>

<body>
    <!-- HEADER -->
    <%- include('../includes/header.ejs',cartProducts) %>
    <!-- /HEADER -->

    <!-- NAVIGATION -->
    <%- include('../includes/nav.ejs') %>
    <!-- NAVIGATION -->

    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Wish List</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <form id="checkout-form" class="clearfix">
                    <div class="col-md-12">
                        <div class="order-summary clearfix">
                            <div class="section-title">
                                <h3 class="title">My Cart</h3>
                            </div>
                            <!-- STORE -->
                            <div id="store" style="border-top : 0px">
                                <!-- row -->
                                <div class="row">
                                    <!-- Product Single -->
                                    <% for (let wishListProduct of wishListProducts) { %>
                                    <div class="col-md-4 col-sm-6 col-xs-6">
                                        <div class="product product-single">
                                            <div class="product-thumb">
                                                <!-- Later will add them New and stock , discount -->
                                                <!-- <div class="product-label">
                                            <span>New</span>
                                            <span class="sale">-20%</span>
                                        </div> -->
                                                <a href="/products/<%= wishListProduct._id %>"
                                                    class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick
                                                    view </a>
                                                <img src="<%= wishListProduct.imageUrl %>" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-price">$<%= wishListProduct.price %> <del
                                                        class="wishListProduct-old-price">$<%= wishListProduct.price%></del>
                                                </h3>
                                                <div class="product-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o empty"></i>
                                                </div>
                                                <h2 class="product-name"><a href="#"><%= wishListProduct.title %></a>
                                                </h2>
                                                <div class="product-btns">
                                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                    <input type="hidden" value="<%= wishListProduct._id %>"
                                                        name="productId">
                                                    <button class="primary-btn add-to-cart" onclick="addToCart(this); ">
                                                        <i class="fa fa-shopping-cart"></i>
                                                        Add to Cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %>
                                    <div class="clearfix visible-sm visible-xs"></div>
                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /STORE -->
                        </div>

                    </div>
                </form>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

    <!-- FOOTER -->
    <%- include('../includes/footer.ejs') %>
    <!-- FOOTER -->

    <!-- jQuery Plugins -->
    <%- include('../includes/end.ejs') %>


</body>

</html>